{
  "presets": [
    "env"
  ],
  "plugins": [
    "transform-runtime",
    "@babel/plugin-syntax-jsx",
    ["@babel/plugin-transform-react-jsx", { "pragma": "h", "pragmaFrag": "hfrag" }]
  ],
  "parserOpts": {
    "plugins": [
      "dynamicImport"
    ]
  }
}
